body{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    margin: 0;
}

.clockContainer{
    height: 40vw;
    width: 40vw;
    background: url(clock.png) no-repeat;
    background-size: 100%;   
    position: relative;
}

#hour, #mins, #sec{
    position: absolute;
    background: black;
    border-radius: 6px;
    transform-origin: bottom;
}

#hour{
    width: 2%;
    height: 25%;
    left: 48.7%;
    top: 25%;
    opacity: .7;
    background-color: rgb(0, 0, 0);
}
#mins{
    width: 1.5%;
    height: 35%;
    left: 49%;
    top: 15%;
    background-color: black;
    opacity: .7;
}
#sec{
    width: 1%;
    height: 35%;
    left: 49.25%;
    opacity: .7;
    top: 15%;
    background: rgb(57, 56, 56);
}